.Navbar {
    background-color: #2A4849;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.NavbarTitle {
    color: #DBE5C7;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (min-width:300px) and (max-width:768px) {
    .NavbarTitle {
        font-size: 20px;
    }
}