.MultiplicationTable {
    height: 680px;
}

.wrapper {
    width: 500px;
    height: 100px;
    padding: 90px 40px;
    background-color: #DBE5C7;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 20px rgba(6, 12, 14, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.timer {
    position: absolute;
    bottom: 80%;
    font-size: 23px;
    color: #202c4d;
}

.answers {
    position: absolute;
    bottom: 78%;
    left: 68%;
    font-size: 17px;
    color: #222E50;
}

.container {
    width: 20px;
    height: 40px;
    font-size: 35px;
    color: #222E50;
    margin-top: 10%;
}

.container h4 {
    font-size: 35px;
    color: #222E50;
}

.answer {
    border-radius: 10px;
    width: 80px;
    height: 50px;
    font-size: 35px;
    margin-top: 9%;
    color: rgb(16, 27, 32);
}

.btn {
    height: 50px;
    margin-top: 9%;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background: rgb(63, 92, 116);
    display: inline-block;
}

@media screen and (min-width:300px) and (max-width:750px) {
    .wrapper {
        width: 250px;
    }

    .container {
        margin-top: 25%;
    }
    
    .container h4 {
        font-size: 25px;
    }

    .timer {
        font-size: 20px;
    }

    .answers {
        left: 13%;
        top: 25%;
        font-size: 14px;
    }

    .answer {
        width: 50px;
        height: 40px;
        font-size: 25px;
        margin-top: 23%;

    } 

    .btn {
        height: 43px;
        padding: 5px 10px;
        margin-top: 22%;
    }
    
}

@media screen and (min-width: 1500px) {
    .MultiplicationTable {
        height: 844px;
    }
}